*{
    margin: 0 auto;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #b8b8b8;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container{
max-width: 720px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0 14px;
}

.logo{
    width:350px;
}

.title{
    text-align: center;
    color: #2e4455;
    margin: 24px 0;
}

.form label{
    color: #2e4455;
    font-size: 20px;
}

.input{
    width: 100%;
    height: 44px;
    border-radius: 10px;
    font-size: 20px;
    padding: 0 14px;
    margin-top: 8px;
    margin-bottom: 14px;
}

.button{
    width: 100%;
    height: 48px;
    background-color: #2e4455;
    cursor: pointer;
    border: 0;
    border-radius: 10px;
    color: #FFF;
    font-size: 22px;
    font-weight: bold;
}

.result{
    background-color: #2e4455;
    max-width: 520px;
    padding: 20px 20px;
    text-align: center;
    margin-top: 28px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    border: 1px solid #696969;
    user-select: none;
    transition: transform 0.8s;
}

.hide{
    display: none;
}

.result:hover{
    transform: scale(1.1);
}

.result span{
    color: #FFF;
    margin-bottom: 8px;
}

#text-result{
    font-size: 24px;
    font-weight: bold;
}

.info{
    position: fixed;
    right: 14px;
    bottom: 22px;
}

.info-img{
    width: 66px;
    height: 66px;
}

.tooltip{
  color: #FFF;  
  background-color: rgb(15,15,15);
  padding: 10px 8px;
  border-radius: 8px;
  position: relative;
  bottom: 28px;
  display: none;
}

.info:hover .tooltip{
    display: inline;
}

.sobre{
    max-width: 620px;
    background-color: #2e4455;
    padding: 24px 14px;
    border: 1px solid #696969;
    border-radius: 8px;
}

.sobre p {
    color: #FFF;
    margin-bottom: 8px;
    line-height: 150%;
}

.button-calcular{
    background-color: #2e4455;
    height: 48px;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    margin-top: 24px;
    border-radius: 8px;
}